@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* mobile */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
    position: fixed;
    width: 100%;
    z-index: 101;

}

header h1 {
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
    font-style: italic;
    color: white;
}

header h1 .ar {
    color: #00FABA;
}

header h1 .twenty-four {
    color: #00FABA;
}

header nav.mobile {
    display: none;
}

header .menu-button {
    display: flex;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    font-style: italic;
    padding: 4px 12px;
    border-radius: 99px;
    transition: 0.3s;
    color: #00FABA;
    border: solid 2px #00FABA;
    transform: translateY(-4px);
    
}

header .menu-button.desktop {
    display: none;
}

header .menu-button.active {
    color: #fff;
    border: solid 2px #5247B9;
    background: #5247B9;
}

header .menu-button ion-icon {
    font-size: 1.2em;
    margin: 2px;
}
header .menu-button ion-icon.inactive {
    display: none;
}

.mobile-nav {
    position: absolute;
    margin-top: 100px;
    width: 100%;
    height: 0px;
    display: none;
    flex-direction: column;
    padding: 4px 8px;
    transition: 0.3s;
}

.mobile-nav a {
    text-decoration: none;
    font-style: italic;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 4px 0px;
}

.mobile-nav.active {
    display: flex;
    background: #5247B9;
    height: auto;
}





/* home */

.home {
    display: flex;
    height: 100dvh;
    background: linear-gradient(to top, #ddabfb 30%, #44226d);
}

.home img {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;

    
}

.home img.logo {
    width: 90%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 0);    
}

.home p {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 65%;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
}

.home p span {
    font-weight: 800;
}

.home .suscribe-btn {
    position: absolute;
    border-radius: 15px;
    background: #5247B9;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 16px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
}

.home .suscribe-btn.desktop {
    display: none;
}

/* la carrera */

.about {
    position: relative;
    background: #3b3291;
    width: 100%;
    padding: 40px;
    color: #fff;
    z-index: 100;

}

.about h1 {
    font-weight: 800;
    text-transform: capitalize;

}


/* desktop */

@media (min-width:1024px) {

    header nav {
        display: flex;
        gap: 8px;
    }

    
    header nav a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 500;
        font-style: italic;
        padding: 8px 12px;
        border-radius: 99px;
        transition: 0.3s;
        color: white;
    }
    
    header nav a.active {
        background: #5247B9;
        color: #00FABA;
    }
    
    header nav a:hover {
        background: #5247B9;
        color: #00FABA;
    }
    
    header nav a:hover > a:not(:hover) {
        background: none;
    }

    .home img.logo {
        top: 25%;
        width: 30%;
        position: absolute;
    }

    .home p {
        font-size: 1.2em;
        top: 50%;
    }

    .about p {
        font-size: 1.4em;
    }



}

@media (min-width:1281px) {

    header nav {
        display: flex;
        gap: 12px;
    }

    
    header nav a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 500;
        font-style: italic;
        padding: 8px 12px;
        border-radius: 99px;
        transition: 0.3s;
        color: white;
    }
    
    header nav a.active {
        background: #5247B9;
        color: #00FABA;
    }
    
    header nav a:hover {
        background: #5247B9;
        color: #00FABA;
    }
    
    header nav a:hover > a:not(:hover) {
        background: none;
    }

    .home img {
        position: absolute;
        bottom: 0;
        width: 100%;
        pointer-events: none;
        transform: translateY(20%);
    }

    .home img.logo {
        top: 15%;
        width: 25%;
        position: absolute;
    }

    .home p {
        top: 45%;
        font-size: 1.4em;
    }

    .about {
        padding: 120px 60px;
    }

    .about h1 {
        font-size: 60px;
    }

    .about-wrapper {
        width: 100%;
        max-width: 100%;
        height: 70dvh;
        display: flex;
        flex-direction: row;
    }

    .about-wrapper .about-col1 {
        width: 50%;
    }

    .about-wrapper .about-col2 {
        width: 50%;
        padding: 0px 32px;
    }

    .about-wrapper .about-col2 .img-wrapper {
        width: 100%;
        height: 100%;
        background: #00FABA;
        border-radius: 35px;
        padding: 5%;
        top: 0;
        
    }
    
    .about-wrapper .about-col2 .img-wrapper img {
        height: 110%;
        border-radius: 35px;
        margin: 0 auto;
    }

    .about .about-wrapper .about-col1 p {
        font-size: 1.5em;
        text-align: justify;
    }

    

}






